.info-box-container {
  width: 15vw;
  height: 3.2vw;
  background-color: white;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 1px 0px gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: default;
  margin: 10px 10px;
  @media (max-width: 768px) {
    width: 60vw;
    height: 10vw;
  }
  &:hover {
    background-color: rgb(231, 231, 231);
  }

  .info-value {
    font-size: 2vw;
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 5vw;
    }

    &.low {
      color: blue;
    }
    &.mid {
      color: green;
    }
    &.max {
      color: red;
    }

    .info-unit {
      font-size: 1vw;
      @media (max-width: 768px) {
        font-size: 3vw;
      }
    }
  }
  .info-name {
    font-size: 1.2vw;
    font-weight: bold;
    height: 10%;
    @media (max-width: 768px) {
      font-size: 3vw;
    }
  }
  .info-icon {
    width: 2vw;
    height: 2vw;
    background-size: cover;
    opacity: 0.2;
    @media (max-width: 768px) {
      width: 4vw;
      height: 4vw;
    }
  }
}
