.chart-button-container {
  border: none;
  width: 140px;
  height: 180px;
  background-color: #eeeff2;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 33%;
    display: flex;
    height: 70px;
  }

  &:hover {
    background-color: #dddee1;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
  }

  &.selected-button {
    border-radius: 0 10px 10px 0;
    border-right: 5px solid #f06000;
    background-color: #dddee1;
    @media (max-width: 768px) {
      border-right: none;
      border-bottom: 3px solid #f06000;
      border-radius: 0 0 10px 10px;
    }
  }
  .button-icon {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: auto;
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
  .button-title {
    font-weight: normal;
    margin-top: auto;
  }
}
