.homepage-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .homepage-text {
    background-color: rgb(255, 223, 153);
    padding: 50px;
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    &::before {
      position: absolute;
      margin-left: 200px;
      transform: rotate(30deg);
      width: 250px;
      height: 450px;
      content: "";
      background-image: url("https://firebasestorage.googleapis.com/v0/b/ev-otomasyon-f0c18.appspot.com/o/assets%2Fesp8266_nodemcu.png?alt=media&token=b8205306-842a-4599-bc10-191ac7045293");
      background-size: cover;
      opacity: 0.1;
    }
    .first-h2 {
      text-align: right;
    }
  }
}
