.Kontroller-grid {
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #ecf0f1;
  padding: 100px;
}
.Sayfa-kontrol-button {
  font-size: 30px;
  padding: 40px;
  background-color: #f44336;
  color: #fff;
  border: none;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

.gridKontrolUyesi {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 30px;
  padding: 20px;
}
